

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
  font-family: 'tomy';
  src: url('../assets/fonts/tommy.woff2') format('woff2'),
       url('../assets/fonts/tommy.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../assets/fonts/Quicksand-Medium.woff') format('woff2'),
       url('../assets/fonts/Quicksand-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('../assets/fonts/IndieFlower-Regular.woff') format('woff2'),
       url('../assets/fonts/IndieFlower-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-orange{
  background-color: #e4002b
}
.color-orange{
  color: #e4002b
}
.QuicksandMedium{
  font-family: 'Quicksand-Medium';
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.underline{
  text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .nav-link{

  color: rgb(46, 41, 127);
  font-family: "Tommy", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-white{
  background-color: white;
}
.bg-headings{background-color: #EEF9FF;}
.shadowCard {    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.14);
  margin: 0px 10px 0px 10px;
 margin-right: 10px;
 margin-left: 10px;
  padding: 0px 0px 0px 0px;}
  .chooseDiliveryMainDiv{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
  }
  .bg-darkBlue{
    background-color: #e4002b !important;
  }
  .text-darkblue{
    color: #e4002b;
  }
  .text-accent-orange{
    color:  #e4002b;
  }
  .bg-accent-orange{
    background:  #e4002b;
    background-color: #e4002b ;
  
  }
  .w-30{
    width: 30%;
  }
  .footerbg{
    background-color: #303030;
  }


  .CatoringHeading{    font-size: 36px;
    text-transform: uppercase;}
    .tommy{
      font-family: 'tomy';
    }

    .IndieFont{
      font-family: 'Indie Flower', cursive;
    }
.headingBg{
  background-color: #eef9ff;
}

.btn-primary{
  -bs-btn-color: #fff;
background-color: #e4002b !important;
border: #e4002b  !important;


}

.user-content p{
  margin-top:5px;
  font-size:12px;
}


.ratings i{
  color:#e4002b;
}
.cursorPointer{
  cursor: pointer;
}
.diliverybikes{
  background: wheat;
  border-radius: 10px;
}
.btn-primary:hover{
  color: #fff;
  background-color: #e4002b  !important;
  border-color: #e4002b  !important;
}
    .CateringTop{
      font-family: "Indie Flower", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    fill: #ffffff;
    width: fit-content;
    color:  #ffffff;
    background-color: #e4002b;
    border-style: none;
    border-radius: 100px 100px 100px 100px;
    padding: 5px 10px 5px 10px;
    }
    .bg-cateringCata{background-color:  #e4002b14;
    
    }

    .elementor-price-list-separator{    border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      flex-grow: 1;
      color: #e4002b;

      margin-right: 10px;}

      .elementor-price-list-item {
        align-items: flex-start;
        display: flex;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    
    .elementor-price-list li:not(:last-child) {
      margin-bottom: 17px;
  }    

  .elementor-price-list-header {
    color: #e4002b;
    font-family: 'tommy', Sans-serif;
    font-weight: bold; 
    display: flex;
    align-items: center;
    font-size: 18px;
  }
    .elementor-price-list-description {
      color: black;
      font-weight: 600;
      flex-basis: 100%;
      font-size: 14px;
      margin: 0; }

      .elementor-price-list-item .elementor-price-list-title {
        max-width: 80%;
    }

    /* .elementor-price-list-separator {
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      margin-right: 10px;
      flex-grow: 1;
      color: #e4002b;
      font-family:'tommy', Sans-serif;
      font-size: 18px;
      font-weight: bold;
  } */

  .elementor-price-list-separator.Details{
    color:#e4002b !important
  }
  .bg-OfMain{
    min-height: calc(100vh - 10rem);
    background-image: url('../assets/Images/mainPage/mainbg.jpg');
  
    position: absolute;
    width: 100%;
    filter: brightness(0.4);
}

.maincontainer{
  top: 10rem;
}

.maincontainer h1 {
  color: var(--e-global-color-e1bccea);
  font-size: 68px;
  text-transform: uppercase;
  line-height: 68px;
}
  
.fontsize19 {
  font-size: 19px !important;
}
.mainDelicious{   
 
  font-family: "Indie Flower", Sans-serif;
  font-size: 24px;
  line-height: 33px;

  color: #e4002b;
}

.bg-lightBlue{
  background-color: #e9f6ff;
}
.ValueRangemian{
  border-radius: 10px 10px 10px 10px;
}
.ValueRangemian.image{    border-radius: 10px 0px 0px 10px;}
.ValueRangemian.maindiv{    border-radius: 0px 10px 10px 0px;}
.color-skyblue{
  color: #b7ddf6;
}

.bg-cateringService{
  background-color: #303030;
  min-height: 100vh;
}
.borderRadiusImage{
  border-radius: 5px 5px 5px 5px;
}
.BookaTable{
  background-image: url('./../assets/Images/About/about.jpg') ;
}


.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ce1212 50%, rgba(206, 18, 18, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(206, 18, 18, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {


  .about .call-us{
    display: none;
  }
 }


