/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
  font-family: 'tomy';
  src: url('../assets/fonts/tommy.woff2') format('woff2'),
       url('../assets/fonts/tommy.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Indie Flower';
  src: url('../assets/fonts/IndieFlower-Regular.woff') format('woff2'),
       url('../assets/fonts/IndieFlower-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-orange{
  background-color:#E37826
}
.color-orange{
  color:#E37826
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.underline{
  text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .nav-link{

  color: rgb(46, 41, 127);
  font-family: "Tommy", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-white{
  background-color: white;
}
.bg-headings{background-color: #EEF9FF;}
.shadowCard {    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.14);
  margin: 0px 10px 0px 10px;
 margin-right: 10px;
 margin-left: 10px;
  padding: 0px 0px 0px 0px;}
  .chooseDiliveryMainDiv{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
  }
  .bg-darkBlue{
    background-color: #204999 !important;
  }
  .text-darkblue{
    color: #204999;
  }
  .text-accent-orange{
    color: #E37826;
  }
  .bg-accent-orange{
    background: #E37826;
    background-color:#E37826 ;
  
  }
  .w-30{
    width: 30%;
  }
  .footerbg{
    background-color: #303030;
  }


  .CatoringHeading{    font-size: 36px;
    text-transform: uppercase;}
    .tommy{
      font-family: 'tomy';
    }

    .IndieFont{
      font-family: 'Indie Flower', cursive;
    }
.headingBg{
  background-color: #eef9ff;
}
    .CateringTop{
      font-family: "Indie Flower", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    fill: #ffffff;
    width: fit-content;
    color:  #ffffff;
    background-color: #204999;
    border-style: none;
    border-radius: 100px 100px 100px 100px;
    padding: 5px 10px 5px 10px;
    }
    .bg-cateringCata{background-color: #e3782614;
    
    }

    .elementor-price-list-separator{    border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      flex-grow: 1;
      color:#E37826;

      margin-right: 10px;}

      .elementor-price-list-item {
        align-items: flex-start;
        display: flex;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    
    .elementor-price-list li:not(:last-child) {
      margin-bottom: 17px;
  }    

  .elementor-price-list-header {
    color: #204999;
    font-family: 'tommy', Sans-serif;
    font-weight: bold; 
    display: flex;
    align-items: center;
    font-size: 18px;
  }
    .elementor-price-list-description {
      color: black;
      font-weight: 600;
      flex-basis: 100%;
      font-size: 14px;
      margin: 0; }

      .elementor-price-list-item .elementor-price-list-title {
        max-width: 80%;
    }

    /* .elementor-price-list-separator {
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      margin-right: 10px;
      flex-grow: 1;
      color: #204999;
      font-family:'tommy', Sans-serif;
      font-size: 18px;
      font-weight: bold;
  } */

  .elementor-price-list-separator.Details{
    color:#204999 !important
  }
  .bg-OfMain{
    min-height: calc(100vh - 10rem);
    background-image: url(/_next/static/media/mainbg.caae0d6b.jpg);
  
    position: absolute;
    width: 100%;
    filter: brightness(0.4);
}

.maincontainer{
  top: 10rem;
}

.maincontainer h1 {
  color: var(--e-global-color-e1bccea);
  font-size: 68px;
  text-transform: uppercase;
  line-height: 68px;
}
  
.fontsize19 {
  font-size: 19px !important;
}
.mainDelicious{   
 
  font-family: "Indie Flower", Sans-serif;
  font-size: 24px;
  line-height: 33px;

  color: #204999;
}

.bg-lightBlue{
  background-color: #e9f6ff;
}
.ValueRangemian{
  border-radius: 10px 10px 10px 10px;
}
.ValueRangemian.image{    border-radius: 10px 0px 0px 10px;}
.ValueRangemian.maindiv{    border-radius: 0px 10px 10px 0px;}
.color-skyblue{
  color: #b7ddf6;
}

.bg-cateringService{
  background-color: #303030;
  min-height: 100vh;
}
.borderRadiusImage{
  border-radius: 5px 5px 5px 5px;
}