

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
  font-family: 'tomy';
  src: url('../assets/fonts/tommy.woff2') format('woff2'),
       url('../assets/fonts/tommy.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Indie Flower';
  src: url('../assets/fonts/IndieFlower-Regular.woff') format('woff2'),
       url('../assets/fonts/IndieFlower-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-orange{
  background-color: #e4002b
}
.color-orange{
  color: #e4002b
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.underline{
  text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .nav-link{

  color: rgb(46, 41, 127);
  font-family: "Tommy", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-white{
  background-color: white;
}
.bg-headings{background-color: #EEF9FF;}
.shadowCard {    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.14);
  margin: 0px 10px 0px 10px;
 margin-right: 10px;
 margin-left: 10px;
  padding: 0px 0px 0px 0px;}
  .chooseDiliveryMainDiv{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
  }
  .bg-darkBlue{
    background-color: #e4002b !important;
  }
  .text-darkblue{
    color: #e4002b;
  }
  .text-accent-orange{
    color:  #e4002b;
  }
  .bg-accent-orange{
    background:  #e4002b;
    background-color: #e4002b ;
  
  }
  .w-30{
    width: 30%;
  }
  .footerbg{
    background-color: #303030;
  }


  .CatoringHeading{    font-size: 36px;
    text-transform: uppercase;}
    .tommy{
      font-family: 'tomy';
    }

    .IndieFont{
      font-family: 'Indie Flower', cursive;
    }
.headingBg{
  background-color: #eef9ff;
}
    .CateringTop{
      font-family: "Indie Flower", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    fill: #ffffff;
    width: fit-content;
    color:  #ffffff;
    background-color: #e4002b;
    border-style: none;
    border-radius: 100px 100px 100px 100px;
    padding: 5px 10px 5px 10px;
    }
    .bg-cateringCata{background-color:  #e4002b14;
    
    }

    .elementor-price-list-separator{    border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      flex-grow: 1;
      color: #e4002b;

      margin-right: 10px;}

      .elementor-price-list-item {
        align-items: flex-start;
        display: flex;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    
    .elementor-price-list li:not(:last-child) {
      margin-bottom: 17px;
  }    

  .elementor-price-list-header {
    color: #e4002b;
    font-family: 'tommy', Sans-serif;
    font-weight: bold; 
    display: flex;
    align-items: center;
    font-size: 18px;
  }
    .elementor-price-list-description {
      color: black;
      font-weight: 600;
      flex-basis: 100%;
      font-size: 14px;
      margin: 0; }

      .elementor-price-list-item .elementor-price-list-title {
        max-width: 80%;
    }

    /* .elementor-price-list-separator {
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      margin-left: 10px;
      margin-right: 10px;
      flex-grow: 1;
      color: #e4002b;
      font-family:'tommy', Sans-serif;
      font-size: 18px;
      font-weight: bold;
  } */

  .elementor-price-list-separator.Details{
    color:#e4002b !important
  }
  .bg-OfMain{
    min-height: calc(100vh - 10rem);
    background-image: url('../assets/Images/mainPage/mainbg.jpg');
  
    position: absolute;
    width: 100%;
    filter: brightness(0.4);
}

.maincontainer{
  top: 10rem;
}

.maincontainer h1 {
  color: var(--e-global-color-e1bccea);
  font-size: 68px;
  text-transform: uppercase;
  line-height: 68px;
}
  
.fontsize19 {
  font-size: 19px !important;
}
.mainDelicious{   
 
  font-family: "Indie Flower", Sans-serif;
  font-size: 24px;
  line-height: 33px;

  color: #e4002b;
}

.bg-lightBlue{
  background-color: #e9f6ff;
}
.ValueRangemian{
  border-radius: 10px 10px 10px 10px;
}
.ValueRangemian.image{    border-radius: 10px 0px 0px 10px;}
.ValueRangemian.maindiv{    border-radius: 0px 10px 10px 0px;}
.color-skyblue{
  color: #b7ddf6;
}

.bg-cateringService{
  background-color: #303030;
  min-height: 100vh;
}
.borderRadiusImage{
  border-radius: 5px 5px 5px 5px;
}